/* Custom Page Styling */

body {
    background-color: #f8f9fa;
    font-family: Arial, Helvetica, sans-serif;
}

/* Custom Title */
.custom-title {
    color: #0d6efd;
    font-weight: bold;
}

/* Custom Card Styling */
.custom-card {
    border-radius: 15px;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Custom Button Hover */
.btn-primary:hover {
    background-color: #084298;
}
